{% extends "admin/change_form.html" %}

{% load i18n admin_static admin_modify admin_urls %}

{% block object-tools %}
    {{ block.super }}
	{% if change %}{% if not is_popup %}
		<ul class="object-tools">
			{% block object-tools-items %}
				{% if has_publish_permission %}
					{% if preview_draft_btn %}
						<li>
							<a href="{{ original.get_absolute_url }}?edit" target="_top">View</a>
						</li>
					{% endif %}
				{% endif %}
				{{ block.super }}
			{% endblock %}
		</ul>
	{% endif %}{% endif %}
{% endblock %}
